# Ignore node_modules in all subfolders
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment variable files (API keys & Passwords)
.env
*.env
client/.env
server/.env

# Ignore build output folders
client/dist/
client/build/

# System and editor files
.DS_Store
Thumbs.db
.vscode/